[Unit]
Description=Germinal, a gemini server

[Service]
ExecStart=/usr/local/bin/germinal
Type=simple
Restart=always
RestartSec=10
User=nobody
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=yes
ProtectDevices=yes


[Install]
WantedBy=multi-user.target
