[Unit]
Description=Germinal, a gemini server

[Service]
ExecStart=/usr/local/bin/germinal
Type=simple
Restart=always
RestartSec=10
User=nobody

[Install]
WantedBy=multi-user.target
